.footer {
  color: #ffffff;
}

.footer-container {
  max-width: 1000px;
  padding: 80px 20px 60px 20px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.33;
  color: #202235;
}

.footer-contato li {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  color: #ff4a57;
  margin-bottom: 20px;
}

.footer-contato li a {
  color: #ff4a57;
  text-decoration: none;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
