.introducao {
  background-color: #202235;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
  color: #ffffff;
}

/*.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: linear-gradient(#ff4a57, #E84E38);
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: 1;
}*/

.introducao p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  color: #ff4a57;
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
